<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILoanService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:21393/LoanService.svc/LoanService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILoanService"
                contract="LoanServiceReference.ILoanService" name="WSHttpBinding_ILoanService">
                <identity>
                    <userPrincipalName value="DESKTOP-EO3O5K4\Srinika" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>