<header>
  <div class="container clearfix">
    <img src="assets/Images/uaclogo.jpg" style="height: auto;width: 350px;" />
    <div style="float:right;text-align:center;text-decoration:underline">
      <a href="http://webserver/NewIntraNet/HomePage">Back to Intranet</a>
    </div>

  </div>
</header>
<!-- /header -->
<div class="container">
  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form" id="loginform" method="post">
        <fieldset>
          <img src="assets/Images/LMS_Title.PNG" />
          <hr class="colorgraph">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="UserName" id="UserName" class="form-control input-lg" placeholder="User Name" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="password" name="Password" id="Password" class="form-control input-lg" placeholder="Password" value="">
              </div>
            </div>
          </div>



          <span class="button-checkbox">
                            <button type="button" class="btn" data-color="info">Remember Me</button>
                            <input type="checkbox" name="IsRememberMe" id="IsRememberMe" checked="checked" data-val="true" value="true" class="hidden">
                            <a href="assets/login/ForgotPassword" class="btn btn-link pull-right">Forgot Password?</a>
                        </span>
          <br /><br />
          <span>
                            The Information contained herein is proprietary to Universal Alloy Corporation and shall not be reproduced or disclosed in whole or in part or used for any purpose except when such user possesses direct authority from Universal Alloy Corporation.
                        </span>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <input type="submit" (click)='login()' id="btnSubmit" class="btn btn-lg btn-success btn-block" value="Log In">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a href="" class="btn btn-lg btn-primary btn-block">Cancel</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>