<h3>Edit Employee</h3>
<form action="" class="" [formGroup]='editemployeeform' (ngSubmit)='save()'>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group" [ngClass]="{'has-error':(!editemployeeform.get('FirstName').valid && editemployeeform.get('FirstName').touched )}">
        <label for="FirstName" class="cols-sm-2 control-label">First Name</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <input value="" id="FirstName" name="FirstName" formControlName='FirstName' class="form-control" placeholder="Enter First Name"
            />
            <div *ngIf="editemployeeform.get('FirstName').touched && editemployeeform.get('FirstName').hasError('required')" class="alert alert-danger">Please enter your first name.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="LastName" class="cols-sm-2 control-label">Last Name</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="text" value="" id="LastName" name="LastName" formControlName='LastName' class="form-control" placeholder="Enter Last Name"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="Age" class="cols-sm-2 control-label">Age</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="text" value="" id="Age" name="Age" formControlName='Age' class="form-control" placeholder="Enter Age" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group" [ngClass]="{'has-error':(!editemployeeform.get('Rating').valid && editemployeeform.get('Rating').touched )}">
        <label for="Age" class="cols-sm-2 control-label">Rating</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="number" value="" id="Rating" name="Rating" formControlName='Rating' class="form-control" placeholder="Enter Rating"
            />
            <div *ngIf="editemployeeform.get('Rating').touched && editemployeeform.get('Rating').hasError('range')" class="alert alert-danger">Rating should be 2 and 6.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="col-md-4">
      <div class="form-group">
        <div class="cols-sm-10">
          <button class="btn btn-primary" type='submit' [disabled]='!editemployeeform.valid'>Save</button>
        </div>
      </div>
    </div>
  </div>

</form>